html, body {
  height: 100%;
  /* background-color: bisque; */
}
.task-is-active {
  border: 1px solid green;
}

.column select {
  background-color: #282f2f;
  border-color: #4c5759;
  color: #fff;
}


.modal-box {
  width: 70%;
  z-index: 999;
}